/* Text on the settings sidebar */
#app .sidebar-v2-agency #sidebar-v2 nav a span{
    color: #ff00ff !important;
}

#sb_agency-saas-configurator span.hl_text-overflow

/* Text on the settings sidebar when non active */
:root {
  --hlpt-left-nav-color: red !important; 
  --hlpt-left-nav-icon-color: red !important;
}
