/* Color changed */
:root {
  --hlpt-left-nav-color: #400040FF !important; 
  --hlpt-left-nav-icon-color: #e17100FF !important;
  --hlpt-primary-theme-color: #e17100FF !important;
  --avatar-circle-background-color: var(--hlpt-primary-theme-bg-color) !important;
  --avatar-circle-background-color-hover: var(--hlpt-primary-theme-color) !important;
}
*, ::before, ::after{
      --hlpt-adv-mainnav-hover-active-bg-color: #e17100FF !important;
}
